.home {
  display: flex;
  height: 95vh;
  align-items: center;
  background-color: #0c0c0c;
  div {
    margin: 0 3rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
  }
}

.about {
  background-color: #202020;
  padding: 30rem 1rem;
}

.portfolio-picture {
  width: 100%;
}
