section {
  display: flex;

  align-items: center;
  background-color: #0c0c0c;
  div {
    margin: 0 3rem;
    width: 50%;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
  }
}

.portfolio-picture {
  width: 100%;
}
