.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  div {
    width: 90%;
  }
}

.dot-list-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  a {
    color: white;
    text-decoration: none;
    margin: 0;
  }
}
