.standard-button {
  background-color: #2070cd;

  border-radius: 10px;
  color: white;
  padding: 0.5rem;
  width: 10rem;
  width: clamp(4rem, 10rem, 10rem);
  cursor: pointer;
  margin: 1rem;
  border: none;
  transition: 0.5s;
}

.switch-skill {
  background-color: #202020;
  font-size: 3rem;
  border-radius: 10px;
  color: white;
  width: 10rem;
  cursor: pointer;
  margin: 1rem;
  border: none;
  transition: 0.5s;
}

.standard-button:hover {
  background-color: #1c65b8;
}
.switch-skill:hover {
  background-color: #000000;
}
.language-button {
  position: relative;
  width: 6rem;
  height: 2rem;
  border-radius: 25px;
  background-color: #a1a1a1;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  text-align: center;
  user-select: none;
  color: white;
}

.language-button.active {
  background-color: #2070cd;
  transform: scale(1.05);
}

.language-button:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 20%;
  height: 60%;
  background-color: #2070cd;
  border-radius: 20px;
  transition: transform 0.3s ease;
  border: solid 1px black;
}

.language-button.active:before {
  transform: translateX(360%);
  background-color: white;
}
