header {
  height: 4rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  z-index: 1;

  a,
  h2 {
    margin: 0 1rem 0 1rem;
    color: white;
    text-decoration: none;
  }
}
