.skill-div {
  border: solid 10px white;
  border-radius: 2rem;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.image-container {
  border-right: solid 10px white;
  width: 35%;
  height: 100%;
}
.skill-image {
  width: 90%;
  height: 90%;
  object-fit: contain;
  padding: 1rem;
}
.info-container {
  width: 50%;
}
