.journey-section {
  padding: 25rem 0;
}

.journey-div {
  display: flex;
  margin: 0 auto;
  border-radius: 1rem;
  overflow-x: auto;
  width: 95%;
  white-space: nowrap;
  padding-bottom: 2rem;
  border-left: 10px white solid;
  border-right: 10px white solid;

  .journey-cards {
    flex-shrink: 0;
    max-width: 40%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    white-space: normal;
  }
}

.journey-cards:nth-child(1) {
  transition-delay: 100ms;
}

.journey-cards:nth-child(2) {
  transition-delay: 200ms;
}

.journey-cards:nth-child(3) {
  transition-delay: 300ms;
}
.journey-cards:nth-child(4) {
  transition-delay: 400ms;
}
.journey-cards:nth-child(5) {
  transition-delay: 500ms;
}

@media (max-width: 1024px) {
  .journey-div .journey-cards {
    max-width: 60%;
    padding: 0.5rem;
  }
}
@media (max-width: 500px) {
  .journey-div {
    flex-direction: column;
    overflow-x: unset;
    white-space: normal;
    margin-right: 3rem;
    border-left: none;
    border-right: none;
  }

  .journey-div .journey-cards {
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
  }
}
