body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
}
body {
  overflow-x: hidden;

  background-color: #2070cd;
}

::-webkit-scrollbar {
  width: 0;
  height: 0.75em;
  background-color: white;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #102e4a;
  border-radius: 1rem;
  border: 1px solid #ffffff;
}
