@import "../abstract/variables";
h1,
h2,
h3,
h4 {
  font-family: $heading-font;
  margin: 1rem;
}
h1 {
  font-size: clamp(3rem, 6vw, 5rem);
}

p,
ul {
  font-family: $text-font;
  font-size: clamp(0.9rem, 1.5vw, 1.25rem);
}
button,
a,
select,
input,
option {
  font-family: $interactive-font;
  font-size: 1.15rem;
}
